@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;600;700&display=swap");
body {
    margin: 0 auto;
    background-color: rgb(115, 192, 182);
    font-family: "Cabin", sans-serif;
}

h1,
h2,
h3 {
    font-size: 1.6em;
}

h4 {
    font-size: 1.4em;
    font-weight: bold;
    padding: 1vh 1vw;
    background-color: rgba(255, 255, 255, 0.664);
    width: 15vw;
}

h5 {
    padding: 0;
    margin: 0.5vh 0 0.5vh 0;
    font-family: "Cabin", sans-serif;
    font-size: 1em;
}

h6 {
    font-size: 1.3em;
    margin: 2vh 0;
}

::-webkit-scrollbar {
    width: 10px;
    margin-top: 5rem;
}

::-webkit-scrollbar-track {
    background: #e6e7ff;
}

::-webkit-scrollbar-thumb {
    background: #78ced1;
}

::-webkit-scrollbar-thumb:hover {
    background: #38384a;
}

li,
ul {
    margin: 0;
}

ul {
    padding: 0 2vw;
    font-weight: bold;
    font-size: 1.1em;
}